<section class="article_form"> 
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, multiple: false, direct_upload: true, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control" %>
    </div>

        <%= f.input_field :_destroy, as: :hidden %>
        <%= link_to 'Delete', '#', class: 'remove_record btn btn-sm btn-block btn-danger' %>
    <hr>
</section>