<% item_type = @item.class.to_s[3..-1] %>

<% provide(:title, "Edit #{item_type}") %>
<% provide(:button_text, "Save Changes") %>


<div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="page-header">
        <h1>Edit <%= item_type %> Page</h1>
    </div>

    <% case @item.type%>
        <% when "TmpGroup" %>
            <%= render partial: '/tmp_groups/form', locals: { item: @item } %>
        <% when "TmpArticle" %>
            <%= render partial: '/tmp_articles/form', locals: { item: @item } %>
        <% when "TmpGallery" %>
            <%= render partial: '/tmp_galleries/form', locals: { item: @item } %>
        <% when "TmpCard" %>
            <%= render partial: '/tmp_cards/form', locals: { item: @item } %>
        <% when "TmpSplash" %>
            <%= render partial: '/tmp_splashes/form', locals: { item: @item }%>
    <% end %>
</div>