<% provide(:title, "#{@item.name}") unless @item.name == "Home" %>

<div class="col-md-8 col-md-offset-2 col-sm-12">
    <div class="page-header">
        <%= @item.subtitle? ? content_tag(:h1, @item.name, class: "title") : content_tag(:h1, Site.first.name, class: "title") %>
        <%= @item.subtitle? ? content_tag(:h3, @item.subtitle, class: "subtitle") : content_tag(:h3, @item.name, class: "subtitle") %>
        <% if user_admin? %>
            <%= link_to "Edit Page", edit_site_item_path(@item), class: "btn-md btn btn-warning" %>
        <% end %>
    </div>

    <% case @item.type%>
        <% when "TmpGroup" %>
            <%= render partial: '/tmp_groups/show', locals: { item: @item } %>
        <% when "TmpArticle" %>
            <%= render partial: '/tmp_articles/show', locals: { item: @item } %>
        <% when "TmpGallery" %>
            <%= render partial: '/tmp_galleries/show', locals: { item: @item } %>
        <% when "TmpCard" %>
            <%= render partial: '/tmp_cards/show', locals: { item: @item } %>
    <% end %>
</div>