<% provide(:title, 'Log In') %>

<div class="page-header col-md-4 col-md-offset-4 col-sm-12">
    <h1>Log In</h1>
</div>
<div class="col-md-4 col-md-offset-4 col-sm-12">
    <%= form_for(:session, url: login_path) do |f| %>
        
        <%= render 'shared/error_messages' %>

        <div class="form-group">
            <%= f.label "Email Address" %>
            <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label "Password" %>
            <%= f.password_field :password, class: "form-control" %>
        </div>
        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
        <% end %>
        <hr/>
        <%= f.submit "Log In", class: "btn btn-block btn-primary" %>
        <p>New User? <%= link_to "Sign up now!", signup_path%></p>
        
    <% end %>
</div>