<% # NEW Group %>

<div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <%= form_for(item) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>
        <h3 class="section-heading">Basic</h3>
        <div class="form-group">
            <%= f.label "Title"%>
            <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label "URL" %>
            <%= f.text_field :description, class: "form-control" %>
        </div>
        <div class="checkbox">
            <label>
                <%= f.check_box :visible %> Visible?
            </label>
        </div>
        <div class="form-group custom-select">
            <label>Group</label>
            <%= collection_select("tmp_#{item.type.downcase[3..-1]}", :tmp_group_id, TmpGroup.all, :id, :name, include_blank: " - NONE", class: "form-control", selected: item.tmp_group_id) %>
        </div>
        <hr>
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>

    <% end %>
</div>