<tr>
    <td class="text-center"><%= group.title %></td>
    <td class="text-center"><%= group.order %></td>
    <td class="text-center">
        <%= check_box_tag("Admin", group.visible, group.visible , :disabled => true) %>
    </td>
    <td class="text-center"><%= group.created_at %></td>
    <td class="text-center"><%= group.updated_at %></td>
</tr>