<% provide(:title, 'All Users') %>

<div class="page-header">
    <h1>All Users</h1>
</div>
<div class="col-md-12">
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th class="text-center">User Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">Admin</th>
            <th class="text-center">Date Created</th>
            <th class="text-center">Date Edited</th>
            <th class="text-center">View User</th>
            <th class="text-center">Edit User</th>
            <th class="text-center">Delete User</th>
        </tr>
    <% @users.each do |user|%>
        <tr>
            <td class="text-center"><%= user.name %></td>
            <td class="text-center"><%= user.email %></td>
            <td class="text-center">
                <%= check_box_tag("Admin", user.admin, user.admin, :disabled => true) %>
            </td>
            <td class="text-center"><%= user.created_at %></td>
            <td class="text-center"><%= user.updated_at %></td>
            <td class="text-center"><%= link_to "View", user, class: "btn btn-block btn-xs btn-primary" %></td>
            <td class="text-center"><%= link_to "Edit", edit_user_path(user.id), class: "btn btn-block btn-xs btn-warning" %></td>
            <td class="text-center"><%= link_to "Delete", user, method: :delete, class: "btn btn-block btn-xs btn-danger", data: { confirm: "Delete #{user.name}?\nThis cannot be undone!" } %></td>
        </tr>
    <% end %>
    </table>
</div>
<hr/>
<%= link_to "New User", signup_path, class: "btn btn-primary" %>