<% # NEW Card Page %>

<div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <%= form_for(item) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>

        <h3 class="section-heading">Basic</h3>
        <div class="form-group">
            <%= f.label "Name"%>
            <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label "Subtitle"%>
            <%= f.text_field :subtitle, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label "Description" %>
            <%= f.text_field :description, class: "form-control" %>
        </div>
        <div class="checkbox">
            <label>
                <%= f.check_box :visible %> Visible?
            </label>
        </div>
        <div class="form-group custom-select">
            <%= f.label "Group"%>
            <%= collection_select(:tmp_card, :tmp_group_id, TmpGroup.all, :id, :name, include_blank: " - NONE", class: "form-control", selected: item.tmp_group_id) %>
        </div>
        <hr>

        <h3>Cards</h3>
        <div class="fields">
            <%= f.simple_fields_for :articles do |builder| %>
                <%= render partial: 'article', locals: {f: builder} %>
            <% end %>
        </div>

        <%= link_to_add_article('Add Article', f, :articles, class: 'btn btn-block btn-success') %>
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>

    <% end %>
</div>