<% # NEW Card Page %>

<div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <%= form_for(item) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>

        <%= render partial: '/pages/basic', locals: { f: f, item: item } %>

        <h3>Cards</h3>
        <div class="fields">
            <%= f.simple_fields_for :articles do |builder| %>
                <%= render partial: 'article', locals: {f: builder} %>
            <% end %>
        </div>

        <%= link_to_add_article('Add Article', f, :articles, class: 'btn btn-block btn-success') %>
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>

    <% end %>
</div>