<tr>
    <td>
        <%= "&nbsp;└─".html_safe if item.tmp_group_id %>
        <%= link_to "#{item.name}", page_path(item) %></td>
    <td class="text-center"><%= item.type[3..-1] %></td>
    <td class="text-center"><%= item.order %></td>
    <td>
    <div class="table text-center">
        <%= link_to raw("<span class='glyphicon glyphicon-arrow-up' aria-hidden='true'></span>"), decrement_pages_path(item), method: :patch, class: "col-xs-6 btn btn-table btn-default" unless item.order <= 1%>
        <%= link_to raw("<span class='glyphicon glyphicon-arrow-down' aria-hidden='true'></span>"), increment_pages_path(item), method: :patch, class: "col-xs-6 btn btn-table btn-default" unless item.order == Page.count %>
    </div>
    </td>
    <td><%= item.description %></td>
    <td class="text-center">
        <%= item.tmp_group.name if item.tmp_group_id %>
    </td>
    <td class="text-center">
        <%= check_box_tag("Admin", item.visible, item.visible , :disabled => true) %>
    </td>
    <td class="text-center"><%= link_to "Edit", edit_page_path(item), class: "btn btn-block btn-xs btn-warning" %></td>
    <td class="text-center"><%= link_to "Delete", item, method: :delete, class: "btn btn-block btn-xs btn-danger", data: { confirm: "Are you sure you want to delete #{item.name}?\n\nTHIS CANNOT BE UNDONE!" } %></td>
</tr>