<tr>
    <td class="text-center"><%= gallery.name %></td>
    <td class="text-center"><%= gallery.images.count %></td>
    <td class="text-center">
        <%= check_box_tag("Visible", gallery.visible, gallery.visible, :disabled => true) %>
    </td>
    <td class="text-center"><%= gallery.created_at %></td>
    <td class="text-center"><%= gallery.updated_at %></td>
    <td class="text-center"><%= link_to "View", gallery, class: "btn btn-block btn-xs btn-primary" %></td>
    <td class="text-center"><%= link_to "Edit", edit_gallery_path(gallery.id), class: "btn btn-block btn-xs btn-warning" %></td>
    <td class="text-center"><%= link_to "Delete", gallery, method: :delete, class: "btn btn-block btn-xs btn-danger", data: { confirm: "Delete #{gallery.name}?\nThis cannot be undone!" } %></td>
</tr>