<% provide(:title, 'Edit Gallery') %>

<div class="row">
    <div class="sidebar-sticky">
        <div class="page-header">
            <h2>Edit Gallery</h2>
            <h4> - <%= @gallery.name %></h4>
                <div class="row">
                    <% if user_admin? %>
                        <%= link_to "<< Index", galleries_path, class: "col-xs-6 btn btn-default" %>
                    <% end %>
                    <%= link_to "<< Gallery", gallery_path(params[:id]), class: "col-xs-6 btn btn-default" %>
                </div>
        </div>
        <div class="row">
            <label class="col-xs-12 btn-block btn btn-success" for="submit-form" tabindex="0">Submit</label>
            <%= link_to 'Delete Gallery', @gallery, method: :delete, data: { confirm: "Are you sure you want to delete #{@gallery.name}?\n\nTHIS CANNOT BE UNDONE!" }, class: "col-xs-12 btn-block btn btn-danger" %>
        </div>
    </div>

    <div class="col-md-9 col-md-offset-3 main-content">
        <%= form_for @gallery do |f| %>
            <%= render 'shared/error_messages' %>
            <div class="form-group">
                <%= f.label "Name: "%>
                <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label "Description: " %>
                <%= f.text_area :description, class: "form-control" %>
            </div>
            <table class="table table-condensed table-bordered table-striped">
                <tr>
                    <th><strong>Thumbnail</strong></th>
                    <th><strong>Filename</strong></th>
                    <th><strong>Added</strong></th>
                    <th><strong>Move Image</strong></th>
                    <th class="text-center"><strong>Delete</strong></th>
                </tr>
                <% @gallery.images.each do |image| %>
                    <tr>
                        <td class="text-center"><%= link_to( image_tag(image, alt: image.filename, class: "img-table"), image, target: "_blank") %></td>
                        <td><%= image.filename %></td>
                        <td><%= image.created_at %></td>
                        <td>
                            <div class="form-group">
                                <%= f.collection_select("id", Gallery.all, :id, :name, {prompt: true}, {class: "form-control"} ) %>
                            </div>
                        </td>
                        <td><%= link_to "Delete", delete_image_attachment_gallery_path(image.signed_id, @gallery.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-block btn-sml btn-danger" %></td>
                    </tr>
                <% end %>
            </table>
            <div class="form-group">
                <%= f.file_field :images, multiple: true, direct_upload: true, class: "form-control" %>
            </div>
            <div class="checkbox">
                <label>
                    <%= f.check_box :visible %> Visible?
                    <%= button_tag "Submit", id: "submit-form", type: "submit", class: "hidden", data: { disable_with: "Update Gallery"} %>
                </label>
            </div>
        <% end %>
    </div>
</div>