<div class="page-header">
    <h1>All Galleries</h1>
</div>
<div class="col-md-12">
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th class="text-center">Gallery Name</th>
            <th class="text-center">Images</th>
            <th class="text-center">Visible</th>
            <th class="text-center">Date Created</th>
            <th class="text-center">Date Edited</th>
            <th class="text-center">View Gallery</th>
            <th class="text-center">Edit Gallery</th>
            <th class="text-center">Delete Gallery</th>
        </tr>
    <% @galleries.each do |gallery|%>
        <tr>
            <td class="text-center"><%= gallery.name %></td>
            <td class="text-center"><%= gallery.images.count %></td>
            <td class="text-center">
                <%= check_box_tag("Visible", gallery.visible, gallery.visible, :disabled => true) %>
            </td>
            <td class="text-center"><%= gallery.created_at %></td>
            <td class="text-center"><%= gallery.updated_at %></td>
            <td class="text-center"><%= link_to "View", gallery, class: "btn btn-block btn-xs btn-primary" %></td>
            <td class="text-center"><%= link_to "Edit", edit_gallery_path(gallery.id), class: "btn btn-block btn-xs btn-warning" %></td>
            <td class="text-center"><%= link_to "Delete", gallery, method: :delete, class: "btn btn-block btn-xs btn-danger", data: { confirm: "Delete #{gallery.name}?\nThis cannot be undone!" } %></td>
        </tr>
    <% end %>
    </table>
</div>
<hr/>
<%= link_to "New Gallery", new_gallery_path, class: "btn btn-primary" %>