<div class="page-header">
    <h1>Create a New Gallery</h1>
    <%= link_to "<< Back to Index", galleries_path, class: "btn btn-default" %>
</div>
<%= form_for @gallery do |f| %>
    
    <%= render 'shared/error_messages' %>

    <div class="form-group">
        <%= f.label "Name (20 character max)"%>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label "Description (200 character max)" %>
        <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :images %>
        <%= f.file_field :images, multiple: true, class: "form-control" %>
    </div>
    <div class="checkbox">
        <label>
            <%= f.check_box :visible %> Visible?
        </label>
    </div>
    <hr/>
    <%= f.submit "Create Gallery", class: "btn btn-primary" %>
<% end %>