<div class="page-header">
    <h2><%= @gallery.name %></h2>
    <%= link_to "<< Back to Index", galleries_path, class: "btn btn-default" %>
</div>
<div class="container">
    <h4>Name</h4>
    <p>&nbsp&nbsp&nbsp&nbsp<%= @gallery.name %></p>
    <h4>Description</h4>
    <p>&nbsp&nbsp&nbsp&nbsp<%= @gallery.description %>
    <hr/>
    <h4>Details</h4>
    <p>&nbsp&nbsp&nbsp&nbspVisible: <%= @gallery.visible %></p>
    <p>&nbsp&nbsp&nbsp&nbspOrder: <%= @gallery.order %></p>
</div>
<hr/>
<%= link_to 'Edit Gallery', edit_gallery_path, class: "btn btn-primary" %>