<% provide(:title, @gallery.name) %>

<section class="gallery-header col-md-12">
    <div class="container">
        <h1><%= @gallery.name %></h1>
        <p class="lead text-muted"><%= @gallery.description%></p>
        <% if user_admin? %>
            <%= link_to "<< Index", galleries_path, class: "btn btn-default" %>
            <%= link_to 'Edit Gallery', edit_gallery_path, class: "btn btn-primary" %>
        <% end %>
    </div>
</section>
<div class="col-md-12">
    <div class="row">
        <% @gallery.images.each do |image| %>
            <div class="gallery-frame col-lg-3 col-md-4 col-sm-4 col-xs-12 filter hdpe">
                <%= link_to( image_tag(image, alt: image.filename, class: "img-gallery"), image, target: "_blank") %>
            </div>
        <% end %>
    </div>
</div>