<section class="jumbotron text-center">
    <div class="container">
        <h1><%= @gallery.name %></h1>
        <p class="lead text-muted"><%= @gallery.description%></p>
        <%= link_to "<< Back to Index", galleries_path, class: "btn btn-default" %>
        <hr/>
    </div>
</section>
<div class="container">
    <%= @gallery.images.each do |image| %>
        <p><%= link_to(image.name, image) %></p>
    <% end %>
</div>
<%= link_to 'Edit Gallery', edit_gallery_path, class: "btn btn-primary" %>