<% # NEW Gallery Page %>

<div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <%= form_for(item) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>
        
        <%= render partial: '/pages/basic', locals: { f: f, item: item } %>

        <% image_count = item.images.count%>
        <% if image_count > 0%>
            <%= render partial: '/tmp_galleries/table', locals: { item: item } %>
        <% end %>

        <h3 class="section-heading">Add Image(s)</h3>
        <div class="form-group">
            <%= f.label :images %>
            <%= f.file_field :images, multiple: true, direct_upload: true, class: "form-control" %>
        </div>
        
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>

    <% end %>
</div>