<% # NEW Gallery Page %>

<div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <%= form_for(item) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>
        
        <h3 class="section-heading">Basic</h3>
        <div class="form-group">
            <%= f.label "Name"%>
            <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label "Subtitle"%>
            <%= f.text_field :subtitle, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label "Description" %>
            <%= f.text_field :description, class: "form-control" %>
        </div>
        <div class="checkbox">
            <label>
                <%= f.check_box :visible %> Visible?
            </label>
        </div>
        <div class="form-group custom-select">
            <label>Group</label>
            <%= collection_select(:tmp_gallery, :tmp_group_id, TmpGroup.all, :id, :name, include_blank: " - NONE", class: "form-control", selected: item.tmp_group_id) %>
        </div>
        <hr>

        <% image_count = item.images.count%>
        <% if image_count > 0%>
            <% 10.times {puts "..."}%>
            <% puts "Images in Gallery: #{ image_count }" %>

            <%= render partial: '/tmp_galleries/table', locals: { item: item } %>
        <% end %>

        <h3 class="section-heading">Add Image(s)</h3>
        <div class="form-group">
            <%= f.label :images %>
            <%= f.file_field :images, multiple: true, direct_upload: true, class: "form-control" %>
        </div>
        
        <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>

    <% end %>
</div>