<% site = Site.first %>
<%= raw("<header class=\"navbar navbar-fixed-top navbar-inverse container-fluid\" style=\"background-color: #{site.navbar_color}\">") %>
    <div class="header-logo">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <%= content_tag(:span,"", class: "icon-bar", style: "background-color: #{site.primary_color} !important") %>
        <%= content_tag(:span,"", class: "icon-bar", style: "background-color: #{site.primary_color} !important") %>
        <%= content_tag(:span,"", class: "icon-bar", style: "background-color: #{site.primary_color} !important") %>
        </button>
        <%=  %>
        <%= link_to inline_svg_tag("CC code.svg", class: "img-logo", style: "fill: #{site.primary_color}") +"#{site.name}", root_path, class: "navbar-brand", id: "logo", style: "color: #{site.primary_color}"%>
    </div>

    <% # SITE NAV SECTION OF NAVBAR %>
    <%= raw("<nav id=\"navbar\" class=\"navbar-collapse collapse\" style=\"border-color: #{site.primary_color}\">") %>
        <ul class="nav navbar-nav">
            <% Page.order(order: :asc).all.each do |item| %>
                <%= render partial: 'layouts/nav_item', locals: { item: item, color: site.primary_color, bg_color: site.navbar_color } %>
            <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            
            <% # ADMIN SECTION OF NAVBAR %>    
            <% if user_admin? %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Admin 
                        <%= content_tag(:b, "", class:"caret", style: "color: #{site.primary_color}" ) %>
                    </a>
                    <%= raw("<ul class=\"dropdown-menu\" style=\"background-color: #{site.navbar_color}\">")%>
                        <li><%= link_to "Manage Pages", pages_path, style: "color: #{site.primary_color}" %>
                        <%= content_tag(:li, "", class: "divider") %>
                        <li><%= link_to "Users", users_path, style: "color: #{site.primary_color}" %></li>
                        <%= content_tag(:li, "", class: "divider") %>
                        <li><%= link_to "Site Options", options_path, style: "color: #{site.primary_color}" %>
                    </ul>
                </li>
            <% end %>

            <% # LOGIN SECTION OF NAVBAR%>
            <% if logged_in? %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account 
                    <%= content_tag(:b, "", class:"caret", style: "color: #{site.primary_color}" ) %>
                    </a>
                    <%= raw("<ul class=\"dropdown-menu\" style=\"background-color: #{site.navbar_color}\">")%>
                        <li><%= link_to "Edit Account", edit_user_path(current_user), style: "color: #{site.primary_color}" %></li>
                        <%= content_tag(:li, "", class: "divider") %>
                        <li>
                            <%= link_to "Log out", logout_path, method: :delete, style: "color: #{site.primary_color}" %>
                        </li>
                    </ul>
                </li>
            <% else %>
                <li><%= link_to "Log-In", login_path %></li>
            <% end %>
        </ul>
    </nav>
<%= raw("</header>") %>
