<!DOCTYPE html>
<html>
	<head>
		<title><%= get_page_title(yield(:title)) %></title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= render 'layouts/header' %>
		<div class="container" id="page_container">
			<% flash.each do |message_type, message| %>
				<%= content_tag(:div, message, id: "flash", class: "alert alert-#{message_type}") %>
			<% end %>
			<%= yield %>
		</div>
		
		<!--
		<div class="col-md-4">
		</div>
		-->

		<%= render 'layouts/footer' %>

	</body>
</html>
